.anadirMateriales_search_bcg {
    width: 80vw;
    height: 35px;
    background: rgba(255, 255, 255, 0.1);
   
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 17px;
    margin-bottom: 0px;
}
.anadirMateriales_search_bcg input {
    height: 90%;
    width: 67%;
    padding-left: 20px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #FFFFFF;
    font-family: 'Itim', cursive;
    font-size: 15px;
    margin-left: 6vw;
}
.anadirMateriales_search_bcg input::placeholder {
    color: #FFFFFF;
}

.anadirMateriales_search_bcg #search {
    color: #FFFFFF;
    font-size: 25px;
}

.anadirMateriales_search_bcg #add {
    position: relative;
    margin-bottom: 8px;
    font-size: 8vw;
    
}
