
*{
    margin: 0;
    padding: 0;
}

.menu-paszamine {
    width: 100vw;
    height: 100px;
    background-color: aliceblue;
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    background-blend-mode: luminosity;
   
    
}